@import url('../../base.css');
.catergoriesBar{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;
}
.catergoriesBar > span{
    margin-right: 1rem;
    padding: 0.5rem;
    white-space: nowrap ;
    border: 1.5px solid var(--text-color);
    border-radius: 999px;
}
.catergoriesBar::-webkit-scrollbar{
    width: 0 ;
}
.catergoriesBar > span:hover{
    background-color: #374a59;
    cursor: pointer;
}
.catergoriesBar > span.active{
    color: #ffffff;
    background-color: #606060;
    border-color: var(--border-color) ;
}