.app_container{
 display: flex;
 margin-top: 10vh;

 
}
.app_main::-webkit-scrollbar{
    width: 0;
}
.app_main{
    overflow-y: scroll;
}

@media screen and (min-width : 1520px) {
    .container {
        margin: 0 auto !important;
    }
}